RAILS_MASTER_KEY=<%= Rails.application.credentials.key %>
RAILS_ENV=production
WEB_PORT=3001

# * DB
DB_HOST=db
DB_USER=
DB_PASSWORD=<%= SecureRandom.hex(16) %>
POSTGRES_PORT=5432
# *

COMPOSE_FILE=docker-compose.yml:docker-compose.${RAILS_ENV}.yml
